@model IEnumerable<ProductCategory>
@{
    ViewData["Title"] = "Product Category";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product Category</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ProductCategory" asp-action="Create" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>

<table class="table table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>PCatId</th>
            <th>Category Name</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.PCatId</td>
                <td>@obj.CategoryName</td>
                <td>@obj.Status</td>
                <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="ProductCategory" asp-action="Edit" asp-route-id="@obj.PCatId">Edit</a>&nbsp;|&nbsp;<form asp-controller="ProductCategory" asp-action="DeletePost" asp-route-id="@obj.PCatId" method="post"><a onclick="this.parentElement.submit()" class="text-danger" style="text-decoration:underline;" id="customDeletebtn">Delete</a></form>
                </div>
                    </td>
            </tr>
        }
    </tbody>
</table>